.list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px 16px;
  max-width: 1200px;
}

.item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.item:hover,
.item:focus {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

text {
  padding: 10px;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  line-height: 16px;
}
